:root {
  --white: rgba(218, 218, 231, 0.8);
  --dim-white: rgba(190, 190, 202, 0.863);
  --fade-white: rgba(207, 207, 219, 0.8);
  --bright-white: rgb(255, 255, 255);

  --shadow-grey: rgba(99, 99, 110, 0.445);
  --dim-grey: rgba(110, 110, 122, 0.7);
  --medium-grey: rgb(44, 47, 51);
  --dark-grey: rgb(35, 39, 42);

  /* mainly used for accent colors such as borders */
  --darker-grey: rgb(24, 27, 29);

  --lime: rgb(118, 206, 140);
  --red: rgb(255, 108, 108);
  --yellow: rgb(255, 241, 116);
  --info: rgb(124, 174, 209);
  --fade: rgba(22, 22, 22, 0.74);
  --purple: rgb(252, 128, 252);
  --orange: rgb(255, 191, 52);

  /* background theme variables */
  --background-opacity: 0.2;
  --background-blur: 0;
  --background-grayscale: 0%;
  --background-contrast: 99%;

  /* primary theme colors */
  --primary-color: rgba(46, 46, 46, 0.61);
  --accent-one: rgba(44, 44, 44, 0.856);
  --accent-two: rgba(43, 43, 43, 0.555);
  --scrollbar-color: rgb(28, 28, 28);
  --shadow-color: rgb(28, 28, 28);

  /* button theme colors */
  --button-hover: 99%;
  --btn-add-server: rgba(78, 140, 182, 0.8);
  --btn-start-server: rgba(128, 252, 134, 0.6);
  --btn-stop-server: rgba(175, 93, 88, 0.8);
  --btn-kill-server: rgba(146, 77, 74, 0.8);
  --btn-restart-server: rgba(58, 101, 117, 0.897);
  --btn-file-explorer: rgba(78, 140, 182, 0.8);
  --btn-delete-server: rgba(156, 83, 80, 0.8);
  --btn-back-dir: rgba(82, 82, 82, 0.479);
  --btn-open-dir: rgba(78, 140, 182, 0.8);
  --btn-save-file: rgba(128, 252, 134, 0.6);
  --btn-download-server: rgba(128, 252, 134, 0.6);

  /* file theme colors */
  --file-hover: rgba(209, 209, 209, 0.4);
  --search-color: rgba(82, 82, 82, 0.479);
  --file-border: rgb(32, 32, 32);
  --folder-color: rgb(255, 241, 116);
  --file-color: rgb(218, 218, 231);
  --jar-color: rgb(255, 191, 52);
  --prop-color: rgb(124, 174, 209);

  /* server dropdown theme colors */
  --dropdown-background: rgb(39, 39, 39);
  --dropdown-selection: rgb(53, 53, 53);
  --active-server: rgba(128, 252, 134, 0.6);
  --inactive-server: rgba(209, 209, 209, 0.4);

  /* other styles*/
  --add-server-background: rgb(53, 53, 53);
  --add-server-selection: rgb(34, 34, 34);
  --auto-comp-background: rgb(39, 39, 39);
  --auto-comp-selection: rgb(53, 53, 53);

  /* text styles */
  --console-font-size: 15px;
  --console-font-color: rgb(170, 167, 167);
  --font-color: rgb(220, 220, 220);
  --button-text-disabled: rgba(71, 71, 71, 0.767);
  --input-font-color: rgb(220, 220, 220);
  --placeholder-color: rgb(220, 220, 220);
  --text-selection: rgb(112, 112, 112);

  --light-accent: rgba(255, 255, 255, 0.2);
  --dark-accent: rgba(21, 23, 24, 0.7);
}

html,
body,
#main {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  position: relative;
  background-color: black;
}

div::selection,
span::selection,
textarea::selection {
  background-color: var(--text-selection);
}

button {
  font-size: 15px !important;
}
button,
button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  user-select: none !important;
}
button:disabled,
button[disabled] {
  cursor: default;
  color: var(--button-text-disabled) !important;
  background-color: transparent !important;
}

a {
  user-select: none; /* Standard */
}
a:hover {
  text-decoration: none;
}

textarea {
  display: block;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
input:focus,
input:active:focus,
input.active:focus,
input.focus,
input:active.focus,
input.active.focus {
  outline: none !important;
}
input::selection {
  background-color: var(--text-selection);
}
input::placeholder {
  color: var(--placeholder-color);
}

.input-group {
  max-width: 600px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin: 0px;
  user-select: none;
  pointer-events: none;
}
em {
  color: rgb(99, 99, 110);
}

span {
  margin: 0;
  padding: 0;
}

li {
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

img {
  object-fit: cover;
}
.background {
  min-width: 100%;
  min-height: 100%;
  background-image: url("./images/bground1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: var(--background-opacity);
  filter: blur(var(--background-blur)) grayscale(var(--background-grayscale))
    contrast(var(--background-contrast));
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  box-shadow: inset 0 0 30px var(--shadow-color);
}
.background::before {
  background-color: black;
}

/* application overlay styles */
.overlay {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.747);
  z-index: 1000;
}
.overlay div {
  width: 60%;
}

/* main server management container */
#main-container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* logo container styles */
#logo-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}
#logo-container img {
  animation: flipInX;
  animation-duration: 2s;
}

/* server console container styles */
#console {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 3px;
  overflow: hidden;
  animation: fadeIn;
  animation-duration: 2s;
}
#console::-webkit-scrollbar {
  display: none;
}
#console-container {
  flex: 1 1 auto;
  position: relative;
  white-space: pre-wrap;
  margin-bottom: 5px;
  overflow-y: scroll;
  border: 0.5px solid transparent;
}

/* server container header */
#container-header {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--accent-one);
}
#dropdown-servers a {
  color: var(--font-color) !important;
}
#btn-dropdown-servers {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--font-color) !important;
}
#container-header-start {
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 0.5px solid var(--accent-two);
}
#container-header-end {
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

/* Custom Button */
.custom-button {
  height: 100%;
  font-size: 16px;
  min-width: 80px;
  color: var(--font-color) !important;
  padding: 0 15px 0 15px;
  filter: brightness(85%);
  transition: filter 0.3s ease-out;
}
.custom-button:hover:enabled {
  filter: brightness(var(--button-hover)) !important;
}

/* Custom Input */
.custom-input {
  padding: 5px 10px 5px 10px;
  color: var(--font-color);
  background-color: transparent;
  font-size: 20px;
  border: none;
}

#btn-add-server {
  min-width: 115px;
  background-color: var(--btn-add-server);
  border-right: 0.5px solid var(--accent-two) !important;
}
#btn-start-server {
  background-color: var(--btn-start-server);
  border-left: 0.5px solid var(--accent-two) !important;
}
#btn-stop-server {
  background-color: var(--btn-stop-server);
  border-left: 1px solid var(--accent-two) !important;
}
#btn-kill-server {
  background-color: var(--btn-kill-server);
  border-left: 1px solid var(--accent-two) !important;
}
#btn-restart-server {
  background-color: var(--btn-restart-server);
  border-left: 1px solid var(--accent-two) !important;
}
#btn-file-explorer {
  background-color: var(--btn-file-explorer);
}
#btn-delete-server {
  min-width: 35px !important;
  background-color: var(--btn-delete-server);
}
#btn-back-dir {
  min-width: 55px !important;
  background-color: var(--btn-back-dir);
}
#btn-open-dir {
  min-width: 35px !important;
  background-color: var(--btn-open-dir);
}
#btn-save-file {
  display: none;
  min-width: 55px !important;
  background-color: var(--btn-save-file);
}

/* Dropdown button styles */
.dropbtn {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  padding: 2px 15px 0 15px;
}
.custom-dropdown {
  min-width: 200px;
  position: relative;
  display: inline-block;
  transition: background-color 0.5s ease-out;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.custom-dropdown:hover {
  cursor: pointer;
}
.custom-dropdown:hover > .dropdown-content {
  display: block !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  max-height: 325px;
  white-space: nowrap;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.397);
  background-color: var(--dropdown-background);
  opacity: 1;
  overflow-y: auto;
  z-index: 1000;
}
.dropdown-content a {
  display: block;
  color: rgba(255, 255, 255, 0.5) !important;
  padding: 12px 16px;
  text-decoration: none;
  background-color: transparent;
}
.dropdown-content a:hover {
  color: rgb(209, 209, 214) !important;
  background-color: var(--dropdown-selection) !important;
}

/* bootstrap dropdown override */
.dropdown-menu {
  margin-bottom: 5px !important;
  z-index: 1000 !important;
}
.dropdown-toggle {
  min-width: 125px !important;
  min-height: 35px !important;
}

/* server container console */
.server-console {
  /* setting column-reverse keeps scroll bar pinned to bottom */
  flex: 1 1 auto;
  margin-bottom: 3px;
  background-color: transparent;
  border: none;
  resize: none;
  color: var(--console-font-color) !important;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  line-height: normal;
  font-size: var(--console-font-size) !important;
  font-family: monospace !important;
  animation: fadeIn;
  animation-duration: 1s;
}
.server-console > * {
  font-family: monospace !important;
}
.server-console::-webkit-scrollbar {
  display: none;
}

/* input commands */
#server-input-container {
  width: 100%;
  display: flex;
  margin-top: auto;
  background-color: var(--primary-color);
  border: 0.5px solid var(--accent-one);
}
#server-console-input {
  width: 100%;
  color: var(--input-font-color) !important;
  border-radius: 3px 0px 0px 3px;
}
#input-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* input auto-completion styles */
.autocomplete {
  width: 400px;
  height: auto;
  max-height: 200px;
  display: none;
  position: absolute;
  bottom: 45px;

  font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0 0 5px 5px;
  padding: 5px;
  background-color: var(--auto-comp-background);
  border: 1px solid var(--accent-one);
  z-index: 995;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}
.autocomplete * {
  font: inherit;
  padding: 0 4px;
  border-radius: 3px;
}
.autocomplete > div.selected {
  background-color: var(--auto-comp-selection);
}

/* Information Buttons */
.info {
  color: rgb(106, 133, 255) !important;
}

/* BOOTSTRAP LIST STYLES */
.list-group {
  border-radius: none;
  background-color: var(--dark-accent) !important;
  overflow-y: scroll;
}
.list-group a:hover {
  background-color: var(--file-hover) !important;
}
.list-group-item {
  border-color: var(--dark-accent);
  background-color: transparent;
  box-shadow: none;
  outline: none;
}
.list-group-item button {
  height: 40px;
  padding: 5px 8px 5px 8px;
  background-color: var(--btn-download-server);
  border-radius: 2px;
}
.list-group-item:focus {
  background-color: transparent;
}

/* BOOTSTRAP TAB STYLES */
.nav-link {
  min-width: 115px;
  max-width: 115px;
  color: var(--font-color) !important;
  font-weight: 400;
  text-align: center;
}
.nav-link,
.nav-link:hover {
  border-top: none !important;
  border-left: none !important;
  border-right: 1px solid var(--accent-one) !important;
}
.nav-link.active {
  font-weight: 500;
  border-bottom: none !important;
  background-color: var(--dark-accent) !important;
}
.tab-content {
  color: var(--font-color) !important;
  background-color: var(--primary-color) !important;
}

/* ADD SERVER MODAL STYLES */
#file-drop-container {
  min-height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-accent) !important;
  border: 0.5px solid transparent;
}
#add-server-container {
  min-width: 660px !important;
}
#add-server-tabs {
  color: var(--font-color) !important;
  background-color: var(--primary-color) !important;
  border-bottom: 1px solid var(--accent-one) !important;
}
#add-server-content {
  min-height: 375px;
  color: var(--font-color) !important;
  background-color: rgb(10, 10, 10) !important;
  border-radius: 1px !important;
}
.add-server-list {
  height: 375px;
  overflow-y: auto;
}
.add-server-list > .list-group-item {
  border-color: var(--accent-two) !important;
}

/* FILE LIST MODAL STYLES */
#file-list-container {
  min-width: 100vw;
  max-height: 100%;
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden !important;
  background-color: transparent !important;
}
#file-list-content {
  border: none !important;
  border-radius: 0px !important;
  background-color: transparent !important;
}
#file-list-body {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100vh;
  padding: 0px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
}
#file-list-header {
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: var(--dim-white);
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color) !important;
  border-bottom: 0.5px solid var(--accent-one);
}
#file-list-header-start {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
#file-list-header-start button {
  height: 100%;
}
#file-list-header-middle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--font-color) !important;
}
#file-list-header-middle label {
  padding-left: 5px;
  margin: 0px;
  white-space: nowrap;
  text-align: left;
  max-width: 350px;
  overflow: hidden;
}
#file-list-header-end {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}
#file-list-search {
  margin-bottom: 1px;
  color: var(--input-font-color);
  background-color: var(--search-color);
  border-left: 1px solid var(--accent-two);
}
#file-list {
  flex: 1 1 !important;
  overflow-y: auto;
}
#file-list a {
  color: var(--font-color) !important;
}
#file-list a:hover {
  cursor: pointer;
}
#file-list > .list-group-item {
  border-color: var(--accent-two) !important;
}

#file-list-notification-container {
  position: relative;
  display: flex;
  flex-direction: row;
}
#file-saved-notification {
  position: absolute;
  right: -40px;
  top: 8px;
  font-size: 13px;
  color: var(--lime);
}

/* SIDEBAR STYLES */
#main {
  transition: margin-right 0.2s;
}

/* settings sidebar styles */
#settings-side-bar {
  display: none;
}

/* theme sidebar styles */
#theme-side-bar {
  display: none;
}
#theme-side-bar h5 {
  margin: 10px 0px 5px 0px;
}
#themePanel {
  border: 1px solid transparent;
}
#saveTheme {
  color: var(--white);
  font-size: 18px;
  position: absolute;
  top: 16px;
  right: 45px;
}
#saveTheme:hover {
  color: #f1f1f1;
  cursor: pointer;
}
#saveThemeNotification {
  position: absolute;
  font-size: 16px;
  position: absolute;
  top: 17px;
  right: 65px;
  color: var(--lime);
}
#btnBackgroundImage {
  width: 100%;
  height: 165px;
  border: 1px solid #616161;
  transition: border-color 0.5s;
  user-select: none;
}
#btnBackgroundImage:hover {
  border-color: #818181;
  cursor: pointer;
}

.editor-input {
  max-width: 55px;
  color: var(--white);
  text-align: left;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: rgba(5, 5, 5, 0.94); /* Black*/
  border-left: 1px solid var(--medium-grey);
  overflow: hidden; /* Disable scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s;
}
.sidebar-header {
  min-height: 55px;
  display: flex;
  align-items: center;
  color: var(--white);
  padding-left: 15px;
  border-bottom: 1px solid var(--medium-grey);
}
.sidebar-body {
  height: 100%;
  color: #818181;
  padding: 5px;
  overflow: hidden;
  overflow-y: auto;
}
.sidebar .closebtn {
  height: 25px;
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 35px;
  color: var(--white);
}
.sidebar .closebtn:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidebar-panel {
  min-height: 40px;
  display: flex;
  flex-direction: column;
}
.sidebar-panel-header {
  height: 35px;
  position: relative;
  color: var(--dim-white);
  cursor: pointer;
  background-color: transparent;
  border-bottom: 1px solid var(--dark-grey);
}
.sidebar-panel-header:hover,
.sidebar-panel-header:hover i {
  color: var(--bright-white);
  cursor: pointer;
}
.sidebar-panel-body {
  display: none;
  margin-top: 5px;
  color: var(--fade-white);
  background-color: transparent;
}
.sidebar-panel-body img {
  margin-bottom: 5px;
}
.sidebar-panel-toggle {
  position: absolute;
  top: 8px;
  right: 5px;
  transform: rotate(180deg);
}
.sidebar-panel-toggle i {
  color: var(--dim-white);
  transition: transform 0.5s;
}

.sidebar-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidebar-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-check {
  margin-top: 5px;
}

.sidebar-color {
  width: 100%;
  height: 33px;
  margin: 5px 0px 5px 0px;
  outline: none;
}
.sidebar-color:hover {
  cursor: pointer;
}

/* Theme panel styles */
#themeList {
  min-width: 100%;
  max-height: 250px;
  margin-top: 5px;
  border: 1px solid var(--dark-accent) !important;
  overflow: auto !important;
}
#themeList:hover {
  cursor: pointer;
}

/* Theme text default picker styles */
#ftColor {
  background-color: var(--font-color);
}
#phColor {
  background-color: var(--placeholder-color);
}
#textSelection {
  background-color: var(--text-selection);
}
#inputFontColor {
  background-color: var(--input-font-color);
}
#btnTextDisabled {
  background-color: var(--button-text-disabled);
}
#consoleFontColor {
  background-color: var(--console-font-color);
}

/* BOOTSTRAP INPUT/BUTTON STYLES */
.form-control,
.btn {
  box-shadow: none !important;
  outline: none !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-group > a.active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: rgba(85, 95, 121, 0.603) !important;
}
.btn-group > a.list-group-item:hover {
  background-color: rgba(97, 109, 138, 0.603) !important;
}

/* BOOTSTRAP MODAL STYLES */
.modal {
  padding-left: 0px !important;
  z-index: 999;
}
.modal-backdrop {
  z-index: 998;
}
.modal-body {
  padding: 0px !important;
}
.modal-content {
  min-height: 400px;

  color: var(--dim-white);
  background-color: var(--primary-color) !important;
  border: 1px solid var(--accent-one) !important;
  user-select: none;
}

.modal-header {
  height: 45px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--accent-one) !important;
  padding: 0px !important;
}
.modal-button {
  font-size: 30px;
  color: var(--white);
}
.modal-button:hover {
  cursor: pointer;
  color: var(--bright-white);
}
.modal-button,
.modal-button:focus,
.modal-button:active:focus,
.modal-button.active:focus,
.modal-button.focus,
.modal-button:active.focus,
.modal-button.active.focus {
  color: var(--dim-white);
  background-color: transparent;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.modal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0.7rem;
  margin: -1rem -1rem -1rem auto;
}
.close-modal {
  height: 40px;
  position: absolute;
  top: -6.5px;
  right: 5px;
  font-size: 30px !important;
}

/* TOOLTIP STYLES */
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: var(--accent-one) !important;
  border-radius: 0.25rem;
}
.tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 0 5px 5px;
  border-bottom-color: var(--accent-one) !important;
}
.tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: var(--accent-one) !important;
}

/* CODE MIRROR STYLES */
.CodeMirror {
  height: 100% !important;
  font-family: monospace !important;
  font-size: 16px !important;
  background-color: transparent !important;
}
.CodeMirror-linenumber {
  color: var(--dim-grey) !important;
}
.CodeMirror-linenumbers {
  background-color: var(--primary-color) !important;
  border-right: 1px solid var(--accent-one) !important;
}

/* CUSTOM POPUP NOTIFICATION STYLES */
.awn-popup-body {
  background-color: var(--medium-grey) !important;
}

/* PICKER STYLES */
.a-color-picker {
  background-color: var(--dark-grey) !important;
  border-radius: 0px !important;
}
.a-color-picker-row:not(:first-child) {
  border-top: 1px solid var(--darker-grey) !important;
}
.a-color-picker-sl {
  border-radius: 0px !important;
}
.a-color-picker-dot {
  z-index: 999 !important;
}
.picker {
  margin: 3px 0 3px 0;
}
.picker-button {
  width: 100%;
  min-height: 35px;
  border: 1px solid var(--dark-grey);

  user-select: none;
  -webkit-user-drag: none;
}
.picker-button:hover {
  cursor: pointer;
}

/* SIDEBAR STYLES */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #497ef0; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #497ef0; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* CUSTOM FONT-CHANGE CONTAINER */

/* CUSTOM SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}
::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0.945);
}

/* FADE IN */
.fadeIn {
  animation: fadeIn;
  animation-duration: 0.2s;
}
.fadeInSlow {
  animation: fadeIn;
  animation-duration: 1s;
}
.fadeOut {
  opacity: 0;
  animation: fadeOut 0.5s ease-in;
}

/* ROTATE ELEMENT */
.rotate {
  transform: rotate(-180deg);
  /*transform: rotate(180deg);*/
  transition: 0.3s;
}
.rotate-reset {
  transform: rotate(0deg);
  transition: 0.3s;
}

@keyframes fadeOut {
  100% {
    display: none;
    opacity: 0;
  }

  1% {
    display: none;
    opacity: 1;
  }

  0% {
    display: block;
    opacity: 1;
  }
}

/* PAYPAL STYLES */
#btn-paypal-donation {
  height: 35px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: var(--bright-white);
  background-color: rgba(214, 149, 28, 0.5);
  border-radius: 3px;
  animation: fadeIn;
  animation-duration: 2s;
}
